@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model EShopAdminApplication.Models.Order

<div class="container">

    <p>
        <a class="btn btn-warning">@Model.User.Email - @Model.User.FirstName @Model.User.LastName</a>
    </p>

    @for (int i = 0; i < Model.TicketInOrders.Count(); i++)
    {
        var item = Model.TicketInOrders.ElementAt(i);

        if (i % 3 == 0)
        {
            @:<div class="row">
            }

            <div class="col-md-3 m-4">
                <div class="card" style="width: 18rem; height: 30rem;">
                    <img class="card-img-top" src="@item.Ticket.TicketImage" style="height: 50%;" alt="Image for product!">

                    <div class="card-body">
                        <h3 class="card-title">@item.Ticket.TicketName</h3>
                        <p class="card-text">@item.Ticket.TicketDescription</p>


                        <h6>Price: $@item.Ticket.TicketPrice</h6>
                        <h6>Quantity: @item.Quantity</h6>
                        <h6>Total: $@(item.Ticket.TicketPrice * item.Quantity)</h6>
                    </div>

                </div>
            </div>


            if (i % 3 == 2)
            {
            @:</div>
        }
    }

</div>