@model EShop.Domain.DomainModels.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketRating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
